.first{
    width: 200px;
    height: 200px;
    background-color: red;

}
.second{
    width: 200px;
    height: 200px;
    background-color: yellowgreen;

}

.third{
    width: 200px;
    height: 200px;
    background-color: red;

}