.first{
    width: 200px;
    height: 200px;
    background-color: red;
    min-width: 200px;

}
.second{
    width: 200px;
    height: 200px;
    background-color: yellowgreen;
    min-width: 200px;

}

.third{
    width: 200px;
    height: 200px;
    background-color: skyblue;
    min-width: 200px;

}