.first{
    /* background-color: blue;
    color: rgba(200, 0 , 100, 0); */
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

#div1{
    background-color: green;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px red;
    border-radius: 20px;
}

.second{
    text-shadow: 2px 2px 2px green;
    text-transform: uppercase;
}

.maindiv{
    display: flex;
    justify-content: space-evenly;
    /* flex-direction: row; */
    /* background-color: black; */
}

.div1{
    width: 200px;
    height: 200px;
    background-color: blue;
}
.div2{
    width: 200px;
    height: 200px;
    background-color: red;
}
.div3{
    width: 200px;
    height: 200px;
    background-color: green;
}
.div4{
    width: 200px;
    height: 200px;
    background-color: yellow;
    box-shadow: 5px 5px 5px grey;
    
}
.div4:hover{
    background: grey;
    border-radius: 20px;
    cursor: pointer;
}
a{
    text-decoration: none;
}

ol{
    list-style-type: circle;
    list-style-position: inside;
}

#imgbck{
    background-image: url("https://images.unsplash.com/photo-1552519507-da3b142c6e3d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2Fyc3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80");
    width: 50%;
    height: 100%;
}