/* Example1 */
/* 
.main1{ 
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.first{
    min-width: 200px;
    width: 200px;
    height: 200px;
    background-color: yellow;
}
.second{
    min-width: 200px;
    width: 200px;
    height: 200px;
    background-color: green;
}
.third{
    min-width: 200px;
    width: 200px;
    height: 200px;
    background-color: blue;
} */





/* Example2 */
/* .ex1,.ex2{
    width: 200px;
    height: 200px;
}

.ex1{
    background-color: green;
}
.ex2{
    /* position: absolute;
    position: relative;
    top: 10px;
    left: 10px; */
    /* position: fixed;
    bottom: 10px;
    right: 20px;*/
    /* background-color: blue;
    position: sticky;
    top: 0;
    left: 0;
} */



/* Example 3 */
/* li{
    display: inline;
} */