
.main1{
    /* display: flex;
    flex-wrap: wrap; */
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.first{
    min-width: 200px;
    width: 200px;
    height: 200px;
    background-color: yellow;
}
.second{
    min-width: 200px;
    width: 200px;
    height: 200px;
    background-color: green;
}
.third{
    min-width: 200px;
    width: 200px;
    height: 200px;
    background-color: blue;
}