*{
    box-sizing: border-box;
}


.body{
    background-color: #c6ff00;
}
.userdiv{
    height: 100%px;
    display: flex;
    justify-content: center;
    align-items: center !important;
    
    
}

.logindiv{
    background-color: whitesmoke;
    /* margin: 0 auto; */
    /* margin-top: 30%; */
    /* display: flex; */
    
    padding: 50px;
    border-radius: 10px;
    width: 400px;
}

.imgdiv{
    max-width: 50%;
    min-width: 50%;
}

table{
    margin: 0 auto;
    
}
th,td{
    padding: 10px;
}

input{
    border-radius: 10px;
    outline-style: none;
    border: 1px solid grey;
}

.mainhead{
    position: absolute;
    top: 0px;
}

.btn{
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.imgwidth{
    height: 100%px;
}